<div id="container">
  <!--<img src="images/logo.png" alt="Asa" id="logo" />-->
  <div id="bubble">
    <div class="inner">
      <ul><% @posts.each do |post| %>
        <li>
          <%= linkify post.text %>
          <span class="time-ago"><%= time_ago_in_words post.created_at %> ago.</span>
        </li>
      <% end %></ul>
      <a href="http://twitter.com/asacalow" class="more">More</a>
    </div>
    <div class="footer"></div>
  </div>
</div>