<div id="twitter">
  <h3>Twitter</h3>
  <%= linkify @twitter.text %>
  <span class="time-ago"><%= time_ago_in_words @twitter.created_at %> ago.</span>
  <a href="http://twitter.com/asacalow" class="more">More</a>
</div>

<div id="github">
  <h3>Github</h3>
  <%= CGI.unescapeHTML @github.text %>
  <span class="time-ago"><%= time_ago_in_words @github.created_at %> ago.</span>
  <a href="http://github.com/asacalow" class="more">More</a>
</div>